<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name = "gdgu_robot">
    
    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">

            <!--Wheel Info-->
            <left_joint>left_wheel</left_joint>
            <right_joint>right_wheel</right_joint> 
            <wheel_separation>0.31</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
            
            <!--input-->
            <odom_publish_frequency>100</odom_publish_frequency>
            <topic>cmd_vel</topic>

            <!--output "what needs to be shown in the output"-->
            <odom_topic>odom</odom_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_link</child_frame_id>
            <!--limits "set according to the motor requirements"-->
            <max_linear_accelaration>1</max_linear_accelaration>
        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>left_wheel</joint_name>
            <joint_name>right_wheel</joint_name>
            <joint_name>rotor_joint</joint_name>
        </plugin>  

       <!-- <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>stepper_joint_states</topic>
            <joint_name>rotor_joint</joint_name>
        </plugin> -->


    </gazebo>
</robot>